DTU.json
[{"id":"3fb0c6f5.c081aa","type":"tab","label":"DTU管理平台","disabled":false,"info":""},{"id":"cf759af2.d80848","type":"http in","z":"3fb0c6f5.c081aa","name":"","url":"4G_DTU","method":"get","upload":false,"swaggerDoc":"","x":260,"y":280,"wires":[["4359ef0b.f5f29"]]},{"id":"4359ef0b.f5f29","type":"function","z":"3fb0c6f5.c081aa","name":"封装查询SQL语句","func":"\nvar find =\"SELECT * FROM `IOT`.`4G_DTU` WHERE `imei` = '%d'\";\nvar newMsg = {\n\"topic\": util.format(find, msg.payload.imei)\n}\nmsg.topic = newMsg.topic\nreturn msg;\n\n\n//INSERT INTO `MY_IOT`.`4G_DTU`(`user`, `imei`, `mq_ip`, `mq_port`, `mq_id`, `mq_username`, `mq_password`, `mq_pubtopic`, `mq_subtopic`) VALUES ('hello', '123456', '192.168.3.1', 1884, '234', 'admin', 'admin', 'topic', 'topic')","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["3152e97b.cc6216","86f26233.97348"]]},{"id":"3152e97b.cc6216","type":"mysql","z":"3fb0c6f5.c081aa","mydb":"53dca4cb.7f2b0c","name":"查询数据（数据库）","x":730,"y":280,"wires":[["39af4098.0f509","db7207a7.43e268"]]},{"id":"39af4098.0f509","type":"debug","z":"3fb0c6f5.c081aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":180,"wires":[]},{"id":"db7207a7.43e268","type":"http response","z":"3fb0c6f5.c081aa","name":"","statusCode":"","headers":{},"x":1030,"y":280,"wires":[]},{"id":"440f394e.600f08","type":"comment","z":"3fb0c6f5.c081aa","name":"学习日志","info":"\n\nvar insertOneStudent=\"INSERT INTO student(name, age, class_name) VALUES ('%s', %d, '%s')\";\n\nvar newMsg = {\n\"topic\": util.format(insertOneStudent, msg.payload.name, msg.payload.age, msg.payload.class_name)\n}\n \nreturn newMsg;","x":250,"y":80,"wires":[]},{"id":"86f26233.97348","type":"debug","z":"3fb0c6f5.c081aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":180,"wires":[]},{"id":"eba22252.d28ec","type":"ui_form","z":"3fb0c6f5.c081aa","name":"","label":"注册设备","group":"c17038fc.12de28","order":1,"width":0,"height":0,"options":[{"label":"用户名","value":"user","type":"text","required":true,"rows":null},{"label":"imei","value":"imei","type":"text","required":true,"rows":null},{"label":"IP地址","value":"mq_ip","type":"text","required":true,"rows":null},{"label":"端口","value":"mq_port","type":"number","required":true,"rows":null},{"label":"设备ID","value":"mq_id","type":"text","required":true,"rows":null},{"label":"设备用户名","value":"mq_username","type":"text","required":true,"rows":null},{"label":"设备密码","value":"mq_password","type":"text","required":true,"rows":null},{"label":"订阅topic","value":"mq_subtopic","type":"text","required":true,"rows":null},{"label":"发布topic","value":"mq_pubtopic","type":"text","required":true,"rows":null}],"formValue":{"user":"","imei":"","mq_ip":"","mq_port":"","mq_id":"","mq_username":"","mq_password":"","mq_subtopic":"","mq_pubtopic":""},"payload":"","submit":"提交","cancel":"取消","topic":"","x":250,"y":440,"wires":[["dd234561.0943d8"]]},{"id":"dd234561.0943d8","type":"function","z":"3fb0c6f5.c081aa","name":"封装增加SQL语句","func":"\nvar find =\"INSERT INTO `IOT`.`4G_DTU`(`user`, `imei`, `mq_ip`, `mq_port`, `mq_id`, `mq_username`, `mq_password`, `mq_pubtopic`, `mq_subtopic`) VALUES ('%s', '%s', '%s', %d, '%s', '%s', '%s', '%s', '%s')\";\nvar newMsg = {\n\"topic\": util.format(find, msg.payload.user, msg.payload.imei, msg.payload.mq_ip, msg.payload.mq_port, msg.payload.mq_id, msg.payload.mq_username, msg.payload.mq_password, msg.payload.mq_pubtopic, msg.payload.mq_subtopic)\n}\nmsg.topic = newMsg.topic\nreturn msg;\n\n\n//INSERT INTO `MY_IOT`.`4G_DTU`(`user`, `imei`, `mq_ip`, `mq_port`, `mq_id`, `mq_username`, `mq_password`, `mq_pubtopic`, `mq_subtopic`) VALUES ('hello', '123456', '192.168.3.1', 1884, '234', 'admin', 'admin', 'topic', 'topic')","outputs":1,"noerr":0,"x":460,"y":440,"wires":[["7d4ee63.a34f518","d1d06416.7d7468"]]},{"id":"7d4ee63.a34f518","type":"debug","z":"3fb0c6f5.c081aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":380,"wires":[]},{"id":"d1d06416.7d7468","type":"mysql","z":"3fb0c6f5.c081aa","mydb":"53dca4cb.7f2b0c","name":"增加数据（数据库）","x":730,"y":440,"wires":[["39cbf7b4.19faf8","e0cc0304.60012"]]},{"id":"4e838d31.c05554","type":"catch","z":"3fb0c6f5.c081aa","name":"监控增加数据库","scope":["d1d06416.7d7468"],"uncaught":false,"x":270,"y":580,"wires":[["ffb13de0.cb564","d6371a65.d4ffa8"]]},{"id":"aa617e6a.bb506","type":"ui_toast","z":"3fb0c6f5.c081aa","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":880,"y":580,"wires":[[]]},{"id":"d6371a65.d4ffa8","type":"switch","z":"3fb0c6f5.c081aa","name":"","property":"error","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":580,"wires":[["361f4e73.cd61d2"],[]]},{"id":"36557e94.cff382","type":"change","z":"3fb0c6f5.c081aa","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"提示","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"入库成功","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":440,"wires":[["aa617e6a.bb506"]]},{"id":"39cbf7b4.19faf8","type":"debug","z":"3fb0c6f5.c081aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":360,"wires":[]},{"id":"361f4e73.cd61d2","type":"change","z":"3fb0c6f5.c081aa","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"警告","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"入库失败！请保证imei唯一","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":580,"wires":[["aa617e6a.bb506"]]},{"id":"ffb13de0.cb564","type":"debug","z":"3fb0c6f5.c081aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":640,"wires":[]},{"id":"66cbad5f.64a894","type":"ui_form","z":"3fb0c6f5.c081aa","name":"","label":"查询数据","group":"bf96cffb.d90bc","order":1,"width":0,"height":0,"options":[{"label":"imei","value":"imei","type":"text","required":true,"rows":null}],"formValue":{"imei":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":190,"y":760,"wires":[["eb3956e4.9bdc98"]]},{"id":"eb3956e4.9bdc98","type":"function","z":"3fb0c6f5.c081aa","name":"封装查询SQL语句","func":"\nvar find =\"SELECT * FROM `IOT`.`4G_DTU` WHERE `imei` = '%d'\";\nvar newMsg = {\n\"topic\": util.format(find, msg.payload.imei)\n}\nmsg.topic = newMsg.topic\nreturn msg;\n\n\n//INSERT INTO `MY_IOT`.`4G_DTU`(`user`, `imei`, `mq_ip`, `mq_port`, `mq_id`, `mq_username`, `mq_password`, `mq_pubtopic`, `mq_subtopic`) VALUES ('hello', '123456', '192.168.3.1', 1884, '234', 'admin', 'admin', 'topic', 'topic')","outputs":1,"noerr":0,"x":410,"y":760,"wires":[["9d2520fe.6fd6e"]]},{"id":"91a790a.c86e67","type":"ui_text","z":"3fb0c6f5.c081aa","group":"bf96cffb.d90bc","order":1,"width":0,"height":0,"name":"","label":"设备IMEI","format":"{{msg.payload[0].imei}}","layout":"row-spread","x":1220,"y":840,"wires":[]},{"id":"9d2520fe.6fd6e","type":"mysql","z":"3fb0c6f5.c081aa","mydb":"53dca4cb.7f2b0c","name":"查询数据（数据库）","x":670,"y":760,"wires":[["a7b53e67.6ca61","2b528747.368c48"]]},{"id":"a7b53e67.6ca61","type":"switch","z":"3fb0c6f5.c081aa","name":"","property":"payload[0]","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":760,"wires":[["bdce82c4.8f465","91a790a.c86e67","da048a99.578428","3d559f98.ca801","d5355264.f3343","57bb3db.30988c4","4dec673b.f7f0d8","19eeb6a3.d89d79","7b02e25e.85309c"],["ea44c9a1.bf4fe8"]]},{"id":"ea44c9a1.bf4fe8","type":"change","z":"3fb0c6f5.c081aa","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"警告","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"[{\"id\":\"\",\"user\":\"error\",\"imei\":\"error\",\"mq_ip\":\"error\",\"mq_port\":\"error\",\"mq_id\":\"error\",\"mq_username\":\"error\",\"mq_password\":\"error\",\"mq_pubtopic\":\"error\",\"mq_subtopic\":\"error\"},\"IMEI未注册\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":780,"wires":[["35acaef1.855332","91a790a.c86e67","da048a99.578428","3d559f98.ca801","d5355264.f3343","57bb3db.30988c4","4dec673b.f7f0d8","19eeb6a3.d89d79","7b02e25e.85309c"]]},{"id":"35acaef1.855332","type":"ui_toast","z":"3fb0c6f5.c081aa","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1250,"y":760,"wires":[[]]},{"id":"bdce82c4.8f465","type":"change","z":"3fb0c6f5.c081aa","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"提示","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"查询成功","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":740,"wires":[["35acaef1.855332"]]},{"id":"2b528747.368c48","type":"debug","z":"3fb0c6f5.c081aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":680,"wires":[]},{"id":"da048a99.578428","type":"ui_text","z":"3fb0c6f5.c081aa","group":"bf96cffb.d90bc","order":1,"width":0,"height":0,"name":"","label":"MQTT_IP","format":"{{msg.payload[0].mq_ip}}","layout":"row-spread","x":1220,"y":880,"wires":[]},{"id":"3d559f98.ca801","type":"ui_text","z":"3fb0c6f5.c081aa","group":"bf96cffb.d90bc","order":1,"width":0,"height":0,"name":"","label":"MQTT_PORT","format":"{{msg.payload[0].mq_port}}","layout":"row-spread","x":1250,"y":920,"wires":[]},{"id":"d5355264.f3343","type":"ui_text","z":"3fb0c6f5.c081aa","group":"bf96cffb.d90bc","order":1,"width":0,"height":0,"name":"","label":"MQTT_ID","format":"{{msg.payload[0].mq_id}}","layout":"row-spread","x":1220,"y":960,"wires":[]},{"id":"57bb3db.30988c4","type":"ui_text","z":"3fb0c6f5.c081aa","group":"bf96cffb.d90bc","order":1,"width":0,"height":0,"name":"","label":"MQTT_USER","format":"{{msg.payload[0].mq_username}}","layout":"row-spread","x":1240,"y":1000,"wires":[]},{"id":"4dec673b.f7f0d8","type":"ui_text","z":"3fb0c6f5.c081aa","group":"bf96cffb.d90bc","order":1,"width":0,"height":0,"name":"","label":"MQTT_PWD","format":"{{msg.payload[0].mq_password}}","layout":"row-spread","x":1230,"y":1040,"wires":[]},{"id":"19eeb6a3.d89d79","type":"ui_text","z":"3fb0c6f5.c081aa","group":"bf96cffb.d90bc","order":1,"width":0,"height":0,"name":"","label":"MQTT_SUB_TOPIC","format":"{{msg.payload[0].mq_subtopic}}","layout":"row-spread","x":1260,"y":1080,"wires":[]},{"id":"7b02e25e.85309c","type":"ui_text","z":"3fb0c6f5.c081aa","group":"bf96cffb.d90bc","order":1,"width":0,"height":0,"name":"","label":"MQTT_PUBTOPIC","format":"{{msg.payload[0].mq_pubtopic}}","layout":"row-spread","x":1250,"y":1120,"wires":[]},{"id":"e0cc0304.60012","type":"switch","z":"3fb0c6f5.c081aa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":440,"wires":[["36557e94.cff382"],[]]},{"id":"53dca4cb.7f2b0c","type":"MySQLdatabase","z":"","host":"47.105.70.108","port":"3306","db":"IOT","tz":"500"},{"id":"c17038fc.12de28","type":"ui_group","z":"","name":"DTU注册管理","tab":"9b0b0ef.a340af","order":1,"disp":true,"width":6,"collapse":false},{"id":"bf96cffb.d90bc","type":"ui_group","z":"","name":"DTU查询管理","tab":"9b0b0ef.a340af","order":2,"disp":true,"width":"6","collapse":false},{"id":"9b0b0ef.a340af","type":"ui_tab","z":"","name":"DTU管理平台","icon":"dashboard","order":3,"disabled":false,"hidden":false}]