entry_stu_message.json
[{"id":"7c0c7345.ce93ec","type":"tab","label":"校园注册平台","disabled":false,"info":""},{"id":"fdf183.9d815e8","type":"ui_form","z":"7c0c7345.ce93ec","name":"录入信息","label":"","group":"ad09d510.3d8648","order":8,"width":0,"height":0,"options":[{"label":"学号","value":"stu_num","type":"number","required":true,"rows":null},{"label":"姓名","value":"name","type":"text","required":true,"rows":null},{"label":"性别","value":"sex","type":"text","required":true,"rows":null},{"label":"班级","value":"class","type":"text","required":true,"rows":null},{"label":"年龄","value":"age","type":"text","required":true,"rows":null}],"formValue":{"stu_num":"","name":"","sex":"","class":"","age":""},"payload":"","submit":"提交","cancel":"取消","topic":"","x":250,"y":280,"wires":[["f09bf561.559988"]]},{"id":"f93a54e2.66b088","type":"mysql","z":"7c0c7345.ce93ec","mydb":"a09a39de.52c2b8","name":"添加学生信息数据库","x":750,"y":280,"wires":[["aa572b26.244458"]]},{"id":"f09bf561.559988","type":"function","z":"7c0c7345.ce93ec","name":"学生信息封装函数","func":"var find = \"INSERT INTO `school`.`student`(`stu_num`, `name`, `sex`, `class`, `age`) VALUES ('%s', '%s', '%s', '%s', '%s')\";\nvar newMsg = {\n    \"topic\":util.format(find,msg.payload.stu_num,msg.payload.name,msg.payload.sex,msg.payload.class,msg.payload.age)\n}\nmsg.topic = newMsg.topic\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":280,"wires":[["f93a54e2.66b088"]]},{"id":"aa572b26.244458","type":"switch","z":"7c0c7345.ce93ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":1000,"y":280,"wires":[["a0b9a71a.b99d58"],[]]},{"id":"a0b9a71a.b99d58","type":"change","z":"7c0c7345.ce93ec","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"提示","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"入库成功","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":280,"wires":[["536c9dd6.af06c4"]]},{"id":"536c9dd6.af06c4","type":"ui_toast","z":"7c0c7345.ce93ec","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"录入成功提示","x":1320,"y":200,"wires":[[]]},{"id":"b2c975be.135708","type":"function","z":"7c0c7345.ce93ec","name":"学生信息查询函数封装","func":"var find =\"SELECT * FROM `school`.`student` WHERE `stu_num` = '%d'\";\nvar newMsg = {\n\"topic\": util.format(find, msg.payload.stu_num)\n}\nmsg.topic = newMsg.topic\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":420,"wires":[["b5f4be63.9ce2a"]]},{"id":"f6f89613.5438d8","type":"ui_form","z":"7c0c7345.ce93ec","name":"查询信息","label":"","group":"9fbb8931.f2ccb8","order":1,"width":0,"height":0,"options":[{"label":"学号","value":"stu_num","type":"text","required":true,"rows":null}],"formValue":{"stu_num":""},"payload":"","submit":"查询","cancel":"取消","topic":"","x":190,"y":420,"wires":[["b2c975be.135708"]]},{"id":"b5f4be63.9ce2a","type":"mysql","z":"7c0c7345.ce93ec","mydb":"a09a39de.52c2b8","name":"查询学生信息数据库","x":730,"y":420,"wires":[["8b3a1780.1323f8"]]},{"id":"8b3a1780.1323f8","type":"switch","z":"7c0c7345.ce93ec","name":"","property":"payload[0]","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":440,"wires":[["9a2b78a1.0e5fe8","5d48a795.15c0d8","92ae79fb.bf2188","ec587439.4c50f8","f6c28dce.6d9a8","835ed265.19542"],["1abed4e2.98394b"]]},{"id":"9a2b78a1.0e5fe8","type":"change","z":"7c0c7345.ce93ec","name":"非空","rules":[{"t":"set","p":"topic","pt":"msg","to":"提示","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"查询成功","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":400,"wires":[["8089a26b.51fbb"]]},{"id":"5d48a795.15c0d8","type":"ui_text","z":"7c0c7345.ce93ec","group":"9fbb8931.f2ccb8","order":2,"width":0,"height":0,"name":"","label":"学号","format":"{{msg.payload[0].stu_num}}","layout":"row-spread","x":1270,"y":480,"wires":[]},{"id":"ec587439.4c50f8","type":"ui_text","z":"7c0c7345.ce93ec","group":"9fbb8931.f2ccb8","order":6,"width":0,"height":0,"name":"","label":"班级","format":"{{msg.payload[0].class}}","layout":"row-spread","x":1270,"y":660,"wires":[]},{"id":"835ed265.19542","type":"ui_text","z":"7c0c7345.ce93ec","group":"9fbb8931.f2ccb8","order":3,"width":0,"height":0,"name":"","label":"姓名","format":"{{msg.payload[0].name}}","layout":"row-spread","x":1270,"y":540,"wires":[]},{"id":"92ae79fb.bf2188","type":"ui_text","z":"7c0c7345.ce93ec","group":"9fbb8931.f2ccb8","order":5,"width":0,"height":0,"name":"","label":"性别","format":"{{msg.payload[0].sex}}","layout":"row-spread","x":1270,"y":600,"wires":[]},{"id":"f6c28dce.6d9a8","type":"ui_text","z":"7c0c7345.ce93ec","group":"9fbb8931.f2ccb8","order":4,"width":0,"height":0,"name":"","label":"年龄","format":"{{msg.payload[0].age}}","layout":"row-spread","x":1270,"y":720,"wires":[]},{"id":"8089a26b.51fbb","type":"ui_toast","z":"7c0c7345.ce93ec","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"查询成功提示","x":1330,"y":340,"wires":[[]]},{"id":"1abed4e2.98394b","type":"change","z":"7c0c7345.ce93ec","name":"为空","rules":[{"t":"set","p":"topic","pt":"msg","to":"提示","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"查询失败","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":540,"wires":[["9a2aa8cd.0ab488","4a357c00.ef1f74"]]},{"id":"9a2aa8cd.0ab488","type":"ui_toast","z":"7c0c7345.ce93ec","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"提示","x":810,"y":660,"wires":[[]]},{"id":"4a357c00.ef1f74","type":"change","z":"7c0c7345.ce93ec","name":"输出提示","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\"stu_num\":\"空\",\"name\":\"空\",\"age\":\"空\",\"sex\":\"空\",\"class\":\"空\"},\"空\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":600,"wires":[["5d48a795.15c0d8","835ed265.19542","92ae79fb.bf2188","ec587439.4c50f8","f6c28dce.6d9a8"]]},{"id":"6bf516a9.1c2c18","type":"catch","z":"7c0c7345.ce93ec","name":"检测重复字段","scope":["f93a54e2.66b088"],"uncaught":false,"x":200,"y":580,"wires":[["d72d19f9.613ae8"]]},{"id":"d72d19f9.613ae8","type":"switch","z":"7c0c7345.ce93ec","name":"","property":"error","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":580,"wires":[["4adb9f32.23d5b"],[]]},{"id":"4adb9f32.23d5b","type":"change","z":"7c0c7345.ce93ec","name":"提示字段重复","rules":[{"t":"set","p":"topic","pt":"msg","to":"录入失败","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"请确保学号唯一性","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":580,"wires":[["9a2aa8cd.0ab488"]]},{"id":"b29017f3.4138b8","type":"http in","z":"7c0c7345.ce93ec","name":"","url":"/stu_message","method":"get","upload":false,"swaggerDoc":"","x":170,"y":780,"wires":[["ced00186.3d82b"]]},{"id":"ced00186.3d82b","type":"function","z":"7c0c7345.ce93ec","name":"学生信息查询函数封装","func":"var find =\"SELECT * FROM `school`.`student` WHERE `stu_num` = '%d'\";\nvar newMsg = {\n\"topic\": util.format(find, msg.payload.stu_num)\n}\nmsg.topic = newMsg.topic\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":780,"wires":[["3a886799.26cc38"]]},{"id":"3a886799.26cc38","type":"mysql","z":"7c0c7345.ce93ec","mydb":"a09a39de.52c2b8","name":"查询学生信息数据库","x":750,"y":780,"wires":[["837bc378.5242a"]]},{"id":"837bc378.5242a","type":"http response","z":"7c0c7345.ce93ec","name":"","statusCode":"","headers":{},"x":980,"y":780,"wires":[]},{"id":"ad09d510.3d8648","type":"ui_group","z":"","name":"学生信息注册","tab":"10e7c65b.7df54a","order":1,"disp":true,"width":"6","collapse":false},{"id":"a09a39de.52c2b8","type":"MySQLdatabase","z":"","host":"47.105.70.108","port":"3306","db":"school","tz":""},{"id":"9fbb8931.f2ccb8","type":"ui_group","z":"","name":"学生信息查询","tab":"10e7c65b.7df54a","order":2,"disp":true,"width":"6","collapse":false},{"id":"10e7c65b.7df54a","type":"ui_tab","z":"","name":"校园注册平台","icon":"dashboard","order":3,"disabled":false,"hidden":false}]