MQTT_Server.json
[{"id":"459db434.3e141c","type":"tab","label":"MQTT test","disabled":false,"info":""},{"id":"42091b0b.32ff74","type":"mqtt in","z":"459db434.3e141c","name":"MQTT_test","topic":"/My_android","qos":"1","datatype":"json","broker":"5ceae244.cae1ac","x":210,"y":200,"wires":[["a1383207.16096","a578157e.5c46a8","6a10479e.be1d48","a28f4c00.17f718","e5f8ac17.38dcc","e3ec5097.c916b","39d7f239.4b1f3e"]]},{"id":"a1383207.16096","type":"debug","z":"459db434.3e141c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":40,"wires":[]},{"id":"a578157e.5c46a8","type":"ui_gauge","z":"459db434.3e141c","name":"温度显示","group":"adf5ea5e.d4c2f8","order":3,"width":5,"height":4,"gtype":"gage","title":"温度","label":"摄氏度","format":"{{msg.payload.temperature}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":80,"wires":[]},{"id":"20a8134b.b7ddcc","type":"ui_chart","z":"459db434.3e141c","name":"温度曲线图","group":"adf5ea5e.d4c2f8","order":5,"width":5,"height":4,"label":"温度折线图","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":400,"wires":[[]]},{"id":"6a10479e.be1d48","type":"change","z":"459db434.3e141c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"msg.payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":400,"wires":[["20a8134b.b7ddcc"]]},{"id":"35f4f56f.f45d7a","type":"ui_audio","z":"459db434.3e141c","d":true,"name":"语音","group":"adf5ea5e.d4c2f8","voice":"zh-CN","always":"","x":830,"y":140,"wires":[]},{"id":"a28f4c00.17f718","type":"switch","z":"459db434.3e141c","name":"","property":"payload.temperature","propertyType":"msg","rules":[{"t":"btwn","v":"50","vt":"num","v2":"89","v2t":"num"},{"t":"btwn","v":"90","vt":"num","v2":"100","v2t":"num"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":180,"wires":[["aaed0f63.9bfbf"],["db0872f7.cab43"]]},{"id":"aaed0f63.9bfbf","type":"change","z":"459db434.3e141c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"温度较高","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":140,"wires":[["35f4f56f.f45d7a"]]},{"id":"db0872f7.cab43","type":"change","z":"459db434.3e141c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"温度极高","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":220,"wires":[["5b32dfa4.c8b2e"]]},{"id":"5b32dfa4.c8b2e","type":"ui_audio","z":"459db434.3e141c","d":true,"name":"语音","group":"adf5ea5e.d4c2f8","voice":"zh-CN","always":"","x":830,"y":220,"wires":[]},{"id":"e5f8ac17.38dcc","type":"switch","z":"459db434.3e141c","name":"","property":"payload.humidity","propertyType":"msg","rules":[{"t":"btwn","v":"50","vt":"num","v2":"69","v2t":"num"},{"t":"btwn","v":"70","vt":"num","v2":"100","v2t":"num"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":300,"wires":[["fe27c270.35863"],["76fc13b0.ac538c"]]},{"id":"fe27c270.35863","type":"change","z":"459db434.3e141c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"湿度较高","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":260,"wires":[["1d557131.d3803f"]]},{"id":"76fc13b0.ac538c","type":"change","z":"459db434.3e141c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"湿度极高","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":340,"wires":[["3e937db.d70d782"]]},{"id":"1d557131.d3803f","type":"ui_audio","z":"459db434.3e141c","d":true,"name":"语音","group":"adf5ea5e.d4c2f8","voice":"zh-CN","always":"","x":830,"y":260,"wires":[]},{"id":"3e937db.d70d782","type":"ui_audio","z":"459db434.3e141c","d":true,"name":"语音","group":"adf5ea5e.d4c2f8","voice":"zh-CN","always":"","x":830,"y":340,"wires":[]},{"id":"e3ec5097.c916b","type":"ui_gauge","z":"459db434.3e141c","name":"温度显示","group":"adf5ea5e.d4c2f8","order":3,"width":5,"height":4,"gtype":"gage","title":"湿度","label":"百分比","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":120,"wires":[]},{"id":"39d7f239.4b1f3e","type":"change","z":"459db434.3e141c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"humidity","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"msg.payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":480,"wires":[["e8fc1af1.3d9f98"]]},{"id":"e8fc1af1.3d9f98","type":"ui_chart","z":"459db434.3e141c","name":"温度曲线图","group":"adf5ea5e.d4c2f8","order":5,"width":5,"height":4,"label":"湿度折线图","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":480,"wires":[[]]},{"id":"5ceae244.cae1ac","type":"mqtt-broker","z":"","name":"HQ","broker":"47.105.70.108","port":"1883","clientid":"MHDSG_nodered","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"adf5ea5e.d4c2f8","type":"ui_group","z":"","name":"Default","tab":"12b1b57e.cb2c3b","disp":true,"width":10,"collapse":false},{"id":"12b1b57e.cb2c3b","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]